body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("http://img13.deviantart.net/520e/i/2012/324/b/c/weathered_paper_17_by_dantesangreal-d5lmrig.jpg");
}

a {
  color: #00B7FF;
}
